prod-example/models/snowflake_dbt_deployment.py
.streamlit 
src/data/
text-to-sql-rag/.streamlit 
data/BuyAme*
data/sample_contract_df.parquet
__az*
prod-example* # Ignore prod example folder for now. Add later
text-to-sql-rag/serve_w_modal.py # Ignore example for now. Add laterprod-example/stacks/
prod-example/stacks/
wandb/
data/ContractOpportunitiesFull.csv
awards_by_contractor_type.numbers
text-to-sql-rag/log_app_wandb.py
app/eval_tutorial.py
app/.streamlit/
.Rproj.user
logs/
.cache/
.cache/*
logs/
logs/*
.gradio/
.gradio/*
.pytest_cache/*
.pytest_cache/